@model AAETravel.Models.Usuario
@{
    ViewData["Title"] = "EditarPerfil";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/editar-perfil.css">
}

<div class="container">
    @if (Model == null)
    {
        <p>O usuário não foi encontrado.</p>
    }
    else
    {
        <form method="post" enctype="multipart/form-data">
            <div class="row ">
                <div class="col">

                        <div class="editar">
                            <h1>Editar Perfil</h1>
                        </div>
                        <div class="logo">
                            <img src="@(!string.IsNullOrEmpty(Model.Foto) ? Model.Foto : Url.Content("~/img/usuarios/no-photo.png"))"
                                alt="Foto de perfil de @Model.Nome" class="object-fit-cover rounded-circle" width="100"
                                height="100">
                        </div>
                        <input type="file" id="foto" name="foto" accept="image/*" style="display:none;">
                        <button type="button" onclick="document.getElementById('foto').click();">Editar Foto</button>

                </div>

                <div class="col">
                    <input type="hidden" name="UsuarioId" value="@Model.UsuarioId" />

                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="Nome" value="@Model.Nome" required
                        placeholder="ex...Ricardo Bueno...">

                    <label for="telefone">Telefone:</label>
                    <input type="tel" id="telefone" name="Telefone" value="@Model.Telefone" placeholder="(xx) xxxxx-xxxx">

                    <label for="descricao">Descrição:</label>
                    <input type="text" id="descricao" name="Descricao" value="@Model.Descricao"
                        placeholder="ex...Gosto de viagens...">

                    <label for="cidade">Sua Cidade:</label>
                    <input type="text" id="cidade" name="Cidade" value="@Model.Cidade" placeholder="ex...Bauru-SP...">

                    <input type="submit" value="Salvar Alterações">
                </div>
            </div>
        </form>
    }
</div>

@section Scripts {
    <script>
        window.addEventListener('load', function () {
            document.querySelector('input[type="file"]').addEventListener('change', function () {
                if (this.files && this.files[0]) {
                    var img = document.getElementById('PreviewImage');
                    img.src = URL.createObjectURL(this.files[0]);
                }
            });
        });
    </script>
}
