@model AAETravel.ViewModels.LocalVM
@{
    ViewData["Title"] = "Local";
}

<partial name="_HeaderInformacao"></partial>
<link rel="stylesheet" href="~/css/informacao.css">

@foreach (var local in Model.Locais)
{
    <section>
        <div class="nome">
            @local.Nome
        </div>
        <div class="local">
            <div class="img-local">
                <img src="@local.Foto">
            </div>
            <div class="descricao">
                <h3>Mais informações do local:</h3>
                <p>
                    <i class="bi bi-geo-alt-fill"></i>
                    @local.Localizacao
                </p>
                <p>
                    <i class="bi bi-telephone-fill"></i>
                    @local.Telefone
                </p>
                <p>
                    <i class="bi bi-stopwatch"></i>
                    @local.HorarioFuncionamento
                </p>
            </div>
        </div>
    </section>

    <section>
        <div class="sobre">
            @local.Descricao
        </div>
        <div class="mapa">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d8769.460377967178!2d-48.5598802939807!3d-22.462729643480706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1713707585364!5m2!1spt-BR!2sbr"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    
    <hr/>
}