@model AAETravel.Models.Usuario

@{
    ViewData["Title"] = "Perfil";
    Layout = null;
}
<link rel="stylesheet" href="~/css/Perfil.css">


<body>

    <main>
        <div class="container">
            <div class="bloco-first">
                <div class="perfil-img">
                    <img src="@Model.Foto">
                </div>
            </div>
            <div class="bloco-second">
                <h1>@Model.Nome</h1>
                <p><strong>Telefone:</strong> @Model.Telefone</p>
                <p><strong>Descrição:</strong> @Model.Descricao</p>
                <p><strong>Cidade:</strong> @Model.Cidade</p>
                <div class="menu">
                    <div class="logout">
                        <a>Desconectar</a>
                    </div>
                    <div class="editar-perfil">
                        <a asp-action="EditarPerfil" asp-controller="Home">Editar</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>
