@model AAETravel.Models.Usuario

@{
    ViewData["Title"] = "Perfil";
    Layout = null;
}
<link rel="stylesheet" href="~/css/Perfil.css">
<link rel="shortcut icon" href="~/img/outros/favcon.png" type="image/x-icon">



<body>
    <a class="voltar" asp-action="Favoritado" asp-controller="Home">
        <i class="bi bi-arrow-left-short"></i>
    </a>
    <main>
        <div class="container">
            <div class="bloco-first">
                <div class="perfil-img">
                    <img src="@Model.Foto">
                </div>
            </div>
            <div class="bloco-second">
                <h1>@Model.Nome</h1>
                <p><strong>Telefone:</strong> @Model.Telefone</p>
                <p><strong>Descrição:</strong> @Model.Descricao</p>
                <p><strong>Cidade:</strong> @Model.Cidade</p>
                <div class="menu">

                    <form method="POST" asp-action="Logout" asp-controller="Account">
                        <button type="submit" class="dropdown-item Sair">
                            Desconectar
                        </button>
                    </form>

                    <div class="editar-perfil">
                        <a asp-action="EditarPerfil" asp-controller="Home">Editar</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>
