@model AAETravel.Models.Local

@{
    ViewData["Title"] = "Excluir";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="custom-container mt-4">
    <h1>Excluir</h1>

    <h3>Você tem certeza de que deseja excluir isso?</h3>

    <div>
        <h4>Local</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Localizacao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Localizacao)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Telefone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Telefone)
            </dd>
            <dt class="col-sm-2">
                Horário
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HorarioFuncionamento)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Descricao)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Foto)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Foto)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Pais)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Pais.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Latitude)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Latitude)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Longitude)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Longitude)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Excluir" class="btn btn-danger" />
            <a asp-action="Index" class="back-to-list btn">Voltar</a>
        </form>
    </div>
</div>

<style>
    body {
        background-color: black;
        color: white;
    }

    .custom-container {
        width: 50vw;
        margin: 0 auto;
        padding: 20px;
        border: 3px solid white;
        box-shadow: 0 4px 8px rgba(128, 0, 128, 0.5);
        border-radius: 10px;
        background-color: #1c1c1c;
    }

    h1,
    h3,
    h4 {
        color: white;
    }

    dt {
        color: #9b30ff;
    }

    dd {
        color: white;
    }

    .btn-danger {
        background-color: #c8102e;
        border-color: #c8102e;
    }

    .btn-danger:hover {
        background-color: #a00;
        border-color: #a00;
    }

    .back-to-list {
        color: #9b30ff;
    }

    .back-to-list:hover {
        color: #ff6aff;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .text-danger {
        color: #ff6aff !important;
    }
</style>
