@model AAETravel.Models.Pais

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="custom-container mt-4">
    <h1>Excluir</h1>

    <h3>Você tem certeza de que deseja excluir isso?</h3>

    <div>
        <h4>Pais</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Foto)
            </dt>
            <dd class="col-sm-10">
                @if (!string.IsNullOrEmpty(Model.Foto))
                {
                    <img src="@Model.Foto" alt="Imagem do País" class="image-preview" />
                }
                else
                {
                    @Html.DisplayFor(model => model.Foto)
                }
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index" class="back-to-list btn">Voltar</a>
        </form>
    </div>
</div>

<style>
    body {
        background-color: black;
        color: white;
    }

    .custom-container {
        width: 50vw;
        margin: 0 auto;
        padding: 20px;
        border: 3px solid white;
        box-shadow: 0 4px 8px rgba(128, 0, 128, 0.5);
        border-radius: 10px;
        background-color: #1c1c1c;
    }

    h1,
    h3,
    h4 {
        color: white;
    }

    dt {
        color: #9b30ff;
    }

    dd {
        color: white;
    }

    .image-preview {
        max-width: 100px;
        height: auto;
    }

    .btn-danger {
        background-color: #ff4c4c;
        border-color: #ff4c4c;
    }

    .btn-danger:hover {
        background-color: #ff6a6a;
        border-color: #ff6a6a;
    }

    .back-to-list {
        color: #9b30ff;
    }

    .back-to-list:hover {
        color: #ff6aff;
    }
</style>
