@model IEnumerable<AAETravel.Models.Experiencia>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="custom-container mt-4">
    <h1>Experiência</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary">Criar Novo</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Nome)</th>
                <th>@Html.DisplayNameFor(model => model.Foto)</th>
                <th>@Html.DisplayNameFor(model => model.Cor)</th>
                <th>@Html.DisplayNameFor(model => model.Onda)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.Foto) && Uri.IsWellFormedUriString(item.Foto,
                       UriKind.RelativeOrAbsolute))
                        {
                            <img src="@item.Foto" alt="Foto da Experiência" />
                        }
                        else
                        {
                            <p>Nenhuma imagem disponível</p>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cor)
                        <span class="color-box" style="background-color:@item.Cor;"></span>
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.Onda) && Uri.IsWellFormedUriString(item.Onda,
                       UriKind.RelativeOrAbsolute))
                        {
                            <img src="@item.Onda" alt="Imagem de Onda" />
                        }
                        else
                        {
                            <p>Nenhuma imagem disponível</p>
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" class="btn btn-warning" asp-route-id="@item.Id">Detalhes</a> |
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<style>
    body {
        background-color: black;
        color: white;
    }

    .custom-container {
        width: 70vw;
        margin: 0 auto;
        padding: 20px;
        border: 3px solid white;
        box-shadow: 0 4px 8px rgba(128, 0, 128, 0.5);
        border-radius: 10px;
        background-color: #1c1c1c;
    }

    h1 {
        color: white;
    }

    .table {
        background-color: #2c2c2c;
        color: white;
    }

    .table thead {
        background-color: #4c4c4c;
        color: #9b30ff;
    }

    .table tbody tr {
        background-color: #1c1c1c;
    }

    .table td,
    .table th {
        vertical-align: middle;
    }

    .table td img {
        max-width: 100px;
        height: auto;
        border: 2px solid #9b30ff;
        border-radius: 5px;
    }

    .color-box {
        display: inline-block;
        width: 30px;
        height: 20px;
        border: 1px solid #ccc;
        margin-left: 10px;
    }
</style>